
.App {
  text-align: center;
}
.wrap1{
  width:1000px;
}
.wrap1 h1{
  font-size:4rem;
  color:#56ffaa;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
@media(max-width:767.98px){

  .wrap1 h1{
    font-size: 2rem;
  }
}
.wrap1 p{
  font-size: 1.3rem;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  color: #232323;
}
.block{
  width: 100px;
  height: 3px;
  background: #56ffaa;
  margin: 1rem auto;
  opacity: 0.7;
}
/* filter:grayscale(100%) */
.navbar{
  position: absolute;
  z-index: 2;
  background: transparent !important;
  width:100%;
}
@media(max-width:767.98px){
  .navbar{
    position: unset;
    z-index: unset;
    background: #20c997 !important; 
    background: -webkit-linear-gradient(to right, #38ef7d, #20c997) !important; 
    background: linear-gradient(to right, #38ef7d, #20c997) !important; 
    width:unset;
  } 
  .nav-link{
   color: white !important;
  }
}
.navbar-brand{
  font-size: 2.2rem;
  font-weight: 800;
  color:white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 255, 180);
}
.nav-link{
  font-size: 1.7rem;
 font-weight: 700;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
}
.blockWhite{
  width: 100px;
  height: 3px;
  background: white;
  margin: 1rem auto;
  opacity: 0.7;
}
.wrap1 button{
  padding: 1rem 2rem;
  border-radius: 33px;
  border: none;
  background: var(--teal);
  color: white;
  transition: all 1400ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.wrap1 button:hover{
  background: white;
  color: var(--teal);
}
.element1{
  background:#ddd;
  background-image: url(images/element1bg2.jpg);
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element2{
  background: #20c997; 
  background: -webkit-linear-gradient(to right, #38ef7d, #20c997); 
  background: linear-gradient(to right, #38ef7d, #20c997); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:4rem;
  padding-bottom: 4rem;
}
.wrap2{
  width:1000px;
}
.wrap2 h1{
  font-size:2rem;
  color:white;
  margin-bottom: 1rem;
}
.wrap2 p{
  font-size: 1.5rem;
  color:white;
  font-weight: 300;
  padding-bottom: 1rem;
}
.wrap2 button{
  padding: 1rem 2rem;
  border-radius: 33px;
  border: none;
  background: white;
  color: black;
  transition: background 1400ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.wrap2 button:hover{
  background: var(--teal);
}
.element3{
  background: white;
  margin-top:4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap3{
  width:1300px;
}
.img1{
  background-image: url(images/computer.svg);
  width:200px;
  height:150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
}
.img2{
  background-image: url(images/graph.svg);
  width:150px;
  height:150px;
  background-size: cover;
  margin:auto;
}
.img3{
  background-image: url(images/list.svg);
  width:150px;
  height:150px;
  background-size: cover;
  margin:auto;
}
.img4{
  background-image: url(images/window.svg);
  width:150px;
  height:150px;
  background-size: cover;
  margin:auto;
}
.wrap3 h1{
  margin-bottom: 3rem;
}
.wrap3 h2{
  font-weight: 300;
  margin-top:1rem;
  margin-bottom: 1rem;
}
.wrap3 p{
  margin-bottom: 3rem;
}
.element4{
  background: var(--teal);
}
.photo{
  height:300px;
  opacity: 1;
  transition: all 1400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.photo1{
  background-image: url(images/andre.jpg);
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo1 h1,
.photo2 h1,
.photo3 h1,
.photo4 h1,
.photo5 h1,
.photo6 h1{
  display: none;
  color:white;
  font-size: 7rem;
  font-weight: 300;

}
.photo1:hover h1,
.photo2:hover h1,
.photo3:hover h1,
.photo4:hover h1,
.photo5:hover h1,
.photo6:hover h1{
  display:flex;
}
.photo2{
  background-image: url(images/charles.jpg);
  background-size: cover;
  background-position: center; 
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo3{
  background-image: url(images/deluvio.jpg);
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo4{
  background-image: url(images/elizabeth.jpg);
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo5{
  background-image: url(images/lucas.jpg);
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo6{
  background-image: url(images/ishan.jpg);
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photo:hover{
opacity: 0.5;
background-position: bottom;
}
img{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
}
.element5{
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap5{
  width:1000px;
}
.wrap5 h1{
  font-weight: 300;
  margin-bottom: 2rem;
  color:white;
}
.wrap5 button{
  padding: 1rem 2rem;
  border-radius: 33px;
  border: none;
  background: white;
  color: black; 
  transition: background 1400ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.wrap5 button:hover{
  background: var(--teal);
}
.element6{
  background: var(--light);
  padding-top:4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap6{
  width:1000px;
}
.wrap6a{  
  margin:auto;
}
.wrap6 h1{
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom:2rem;
}
.wrap6 p{
width:75%;
margin:auto;
font-size: 1.15rem;
margin-bottom: 1rem;
}

.wrap6 .phone{
    background-image: url(images/phone.svg);
    width:100px;
    height:100px;
    background-size: cover;
    margin:auto;
    margin-top:1rem;
}
.wrap6 .mail{
  background-image: url(images/mail.svg);
  width:100px;
  height:100px;
  background-size: cover;
  margin:auto;
  margin-top:1rem;
}

